*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    /* --custom name: value; */
    --light-green-bg: #476529;
    --dark-green-bg: #191B05;
    --opposite-purple:#9713AD;
    --create-acct-btn: #596D48;
    --input-border:#E5E7EB;
    /* example: color: var(--navy-clr) */
}
/*input, blue border and subtle box-shadow, with the :focus */

/* font-family: 'Noto Nastaliq Urdu', serif;
font-family: 'Skranji', cursive; */

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.screen-container{
    display: flex;
}

.left-side-container{
    position: relative;
    width: 40%;
    display: flex;
}

.background-image{
    width: 100%;
    height: 120vh;
    z-index: -1;
    position: absolute;
    background-color: blue;
    background-image: url('../Sign-Up-Form/images/Halie\ West\ on\ Unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}

.banner{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.450);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9rem;
    overflow: hidden;
}

.odin-logo{
    width: 15%;
    flex: 0 1 auto;
}

.logo-letter-banner{
    font-family: 'Skranji', cursive, sans-serif;
    font-size: 3rem;
    color: white;
    flex: 0 1 auto;
}

.photo-credit{
    color: rgba(255, 255, 255, 0.664);
    font-family: 'Noto Nastaliq Urdu', serif, sans-serif;
    font-size: small;
    position: absolute;
    top: 95vh;
    left: 1px;
}

a{
    color: rgba(255, 255, 255, 0.664);  
}

.right-side-container{
    /* width: 100%; */
}

.top-part{
    padding-left: 3rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: var(--light-green-bg);
    /* color: white; */
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

.form{
    /* font-family: 'Noto Nastaliq Urdu', serif; */
    padding-top: 0.1rem;
    background-color: var(--dark-green-bg);
    color: white;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 1rem;
}

.inputs{
    display: flex;
    gap: 5rem;
}

input{
    border-radius: 5px;
    height: 2rem;
    width: 15rem;
}

button{
    font-family: 'Noto Nastaliq Urdu', serif;
    background-color: var(--light-green-bg);
    color: white;
    padding: .5rem 3rem 1rem 3rem;
    border-radius: .5rem;
    font-weight: 300;
    font-size: large;
    margin-left: 3rem;
    margin-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.log-in{
    font-family: 'Noto Nastaliq Urdu', serif;
    padding-left: 3rem;
    padding-right: 1rem;
    /* padding-top: 3rem; */
    padding-bottom: 2rem;
}

.log-in-click{
    color: var(--light-green-bg);
}

.log-in-click:hover{
    color: var(--opposite-purple);
    cursor: pointer;
}
